<!-- PÁGINA PARA MOSTRAR LOS RESULTADOS DE UNA BUSQUEDA -->
{% extends "baseOndemand.html" %}

{% block title %}Busqueda || VideoOnDemand{% endblock %}

{% block modal_controls %}
  {% if tipo == "Administrador" %}
    <a href="#" class="btn btn-primary" id="descargar" data-url="{{ url_for('video_download') }}">Descargar</a>
    <a href="#" class="btn btn-danger" id="mover_a_papelera" data-url="{{ url_for('mover_a_papelera') }}">Mover a papelera</a>
  {% endif %}
{% endblock %}

<!-- BLOQUE DE CONTENIDO PRINCIPAL -->
{% block container %}

<div class="row g-5 mt-5 justify-content-center">
<!-- SI EL NUMERO DE PAGINAS ES MAYOR A 0 (SE ENCONTRARON RESULTADOS) -->
  {% if paginator.count|int > 0 %}
  <div class="d-flex flex-column">
    <h3>Resultados de Busqueda ({{ paginator.count }})</h3>
    <h4><em>{{ fecha_inicial}} / {{ fecha_final }}</em></h4>
  </div>
  <!-- SI EL NUMERO DE PAGINA ACTUAL ES DISTINTO DE NUMERO DE PAGINAS(ULTIMA PAGINA) -->
  {% if page.number|int != paginator.num_pages|int  %}
    <!-- MOSTRAR LOS RESULTADOS EN EL RANGO PREESTABLECIDO(videos_x_pagina) -->
    {% for i in range( ((page.number - 1) * videos_x_pagina), (page.number * videos_x_pagina) ) %}
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="card bg-dark text-white">
        <a href="{{ url_for('video_streaming') }}?video={{ videos[i][0] }}" class="btn-video" data-bs-toggle="modal" data-bs-target="#videoModal" data-fecha="{{ videos[i][1] }}" data-id="{{ videos[i][0] }}" data-page="busqueda" data-pagenumber="{{ page.number }}">
          <img src="{{ url_for('image_response') }}?image={{ videos[i][0] }}" class="card-img" alt="{{ videos[i][1] }}">
          <div class="card-img-overlay d-flex flex-row justify-content-end">
            <p class="card-text align-self-end">{{ videos[i][6] }}</p>
          </div>
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div class="fig-play d-flex justify-content-center align-items-center">
              <div class="fig-play__bg-play"></div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  <!-- EN CASO CONTRARIO (PAGINA ACTUAL ES IGUAL A ULTIMA PAGINA) -->
  {% else %}
    <!-- MOSTRAR LOS RESULTADOS RESTANTES SEGUN EL RANGO CALCULADO -->
    {% for i in range( (videos_x_pagina * (paginator.num_pages - 1)) , (paginator.count) )  %}
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="card bg-dark text-white">
          <a href="{{ url_for('video_streaming') }}?video={{ videos[i][0] }}" class="btn-video" data-bs-toggle="modal" data-bs-target="#videoModal" data-fecha="{{ videos[i][1] }}" data-id="{{ videos[i][0] }}" data-page="busqueda" data-pagenumber="{{ page.number }}">
            <img src="{{ url_for('image_response') }}?image={{ videos[i][0] }}" class="card-img" alt="{{ videos[i][1] }}">
            <div class="card-img-overlay d-flex flex-row justify-content-end">
              <p class="card-text align-self-end">{{ videos[i][6] }}</p>
            </div>
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <div class="fig-play d-flex justify-content-center align-items-center">
                <div class="fig-play__bg-play"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    {% endif %}
  <!-- ----------------------------------------------------------------------- -->

  <!-- PAGINACION DE BOOTSTRAP -->
        <nav aria-label="Page navigation">
          <ul class="pagination row g-0">
            <li class="page-item {% if not page.has_previous %}disabled{% endif %} col-auto"><a class="page-link" href="?page={{ page.number - 1 }}">Anterior</a></li>
  
              {% for i in range(1, paginator.num_pages + 1) %}
  
                <li class="page-item {% if i|int == page.number|int %}active{% endif %} col-auto"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
  
              {% endfor %}
  
            <li class="page-item {% if not page.has_next %}disabled{% endif %} col-auto"><a class="page-link" href="?page={{ page.number + 1 }}">Siguiente</a></li>
          </ul>
        </nav>
<!-- EN CASO CONTRARIO (NO SE ENCONTRARON RESULTADOS) -->
    {% else %}
    <div class="d-flex flex-column">
      <h3>No Se Encontraron Resultados</h3>
      <h4><em>{{ fecha_inicial}} / {{ fecha_final }}</em></h4>
    </div>
    {% endif %}

  </div>

{% endblock %}

