<!-- PAGINA PRINCIPAL PARA LA BUSQUEDA DE VIDEOS - ESTA MOSTRARA LOS VIDEOS MAS RECIENTES QUE SE HAYAN REGISTRADO -->
{% extends "baseOndemand.html" %}

{% block title %}Sistema de Vigilancia || VideoOnDemand{% endblock %}

{% block modal_controls %}
  {% if tipo == "Administrador" %}
    <a href="#" class="btn btn-primary" id="descargar" data-url="{{ url_for('video_download') }}">Descargar</a>
    <a href="#" class="btn btn-danger" id="mover_a_papelera" data-url="{{ url_for('mover_a_papelera') }}">Mover a papelera</a>
  {% endif %}
{% endblock %}

<!-- BLOQUE DE CONTENIDO PRINCIPAL -->
{% block container %}

    <!-- CAROUSEL CON LOS ELEMENTOS MAS RECIENTES -->
    <div class="row mt-5 pt-5">
      {% if videos|length > 0 %}
        <h3 class="mb-2">Grabaciones Recientes</h3>
        <div class="carousel__container">
            <button aria-label="Anterior" class="btn btn-ligth carousel__anterior" id="carousel__anterior"></button>

            <div class="carousel__list" id="cardSuperContainer">
              <!-- MOSTRAR VIDEOS RECIENTES POR PANTALLA -->
                {% for video in videos %}
                <div class="carousel__element">
                    <div class="card bg-dark text-white me-3">
                        <a href="{{ url_for('video_streaming') }}?video={{ video[0] }}" class="btn-video" data-bs-toggle="modal" data-bs-target="#videoModal" data-fecha="{{ video[1] }}" data-id="{{ video[0] }}" data-page="ondemand">
                          <img src="{{ url_for('image_response') }}?image={{ video[0] }}" class="card-img" alt="{{ video[1] }}">
                          <div class="card-img-overlay d-flex flex-row justify-content-end">
                            <p class="card-text align-self-end">{{ video[6] }}</p>
                          </div>
                          <div class="card-img-overlay d-flex justify-content-center align-items-center">
                            <div class="fig-play d-flex justify-content-center align-items-center">
                              <div class="fig-play__bg-play"></div>
                            </div>
                          </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
    
            <button aria-label="Siguiente" class="btn btn-ligth carousel__siguiente" id="carousel__siguiente"></button>
        </div>
      {% else %}
        <h3>No Hay Grabaciones Disponibles</h3>
      {% endif %}
    </div>


{% endblock %}